@import url('bevellier.css');
@import "https://unpkg.com/open-props";

body,html {
    overflow-x:hidden;
}
body {
    margin:0;
    font-family: 'Bevellier-Semibold';
    color:#FFF;
}
section {
    display:flex;
    align-items:center;
    justify-content: center; 
    flex-direction: column;
  	height: 100vh;
}
.panel-1 {
    background: var(--gradient-13);
}
.panel-2 {
    background: var(--gradient-11);
}
.panel-3 {
    background: var(--gradient-20);
}


h1 {
    font-size:4rem;
}